.bubu {
  border: 3px solid red;
  height: 50vh;
  background-color: aqua;
}

h1 {
  text-align: center;
}

.sqaure {
  height: 300px;
  width: 300px;
  background-color: chartreuse;
  margin: 0 auto;
  margin-top: 40px;
  border: 5px solid pink;
}

.iron-man {
  border: 4px solid red;
}

.bubu-down {
  border: 3px solid orangered;
  height: 50vh;
  background-color: black;
}

.img-wrapper {
    margin: 0 auto;
    width: fit-content;
}

.captain-america {
    width: 23em;
}
/*
Sprobuj zrobic tak: "zawin" img w znacznik <div>, nastepnie temu <div> daj klase, nazwa dowolna

nastepnie w tej klasie niech beda te wartosci:

margin: 0 auto;
width: fit-content;

wtedy obrazek powinien byc posrodku


*/
